.box {
  height: 350px;
  width: 100%;
  background-color:wheat;
  padding:10px;
}

.item {
  height:100px;
  width: 100px;
  background-color: red;
  text-align: center;
  line-height: 100px;
  color: white;
  margin-bottom: 10px;
}

@keyframes animation1 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(300px, 300px);
  }
  100% {
    transform: translate(0);
  }
}

.item1 {
  animation-name: animation1;
  animation-duration: 5s;
  /* animation-iteration-count: infinite; */
}